#clock {
  text-align: center;
  margin: auto;
  margin-top: 10%;
  height: 40vw;
  width: 30vw;
  border: solid black 2px;
  border-radius: 5%;
  background-color: gray;
}
span {
  font-size: large;
  font-weight: bold;
  margin: 10%;
}

#timer {
  height: 30%;
  width: 20vw;
  border:solid black 1px;
  margin: auto;
  margin-top: 10%;
  border-radius: 3%;
  background-color: white;
}

button {
  border-radius: 20%;
  font-size: medium;
  font-weight: bold;
}